<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<header>
	<h1><%= title %></h1>
</header>
<!-- 左边导航 -->
<nav>
   <span><a href="/" title="主页"></a></span>
   <% if(user){ %>
   <span><a href="/post" title="发表">post</a></span>
   <span><a href="/upload" title="上传">upload</a></span>
   <span><a href="/logout" title="登出">logout</a></span>
   <% }else{ %>
    <span><a href="/login" title="登录">login</a></span>
   <span><a href="/reg" title="注册">register</a></span>
   <% } %>
</nav>
<!-- 成功的部分 -->
<article>
	<% if(success){ %>
	<div><%= success %></div>
	<% } %>
	<% if(error){ %>
	<div><%= error %></div>
	<% } %>
</article>
</body>
</html>