<%- include header %>
<form method="POST">
	标题:
	<br>	
	<input type="text" name="title" id="">
	<br>
	正文:
	<br>	
	<textarea name="post" rows="20" clos="100"></textarea>
	<br>	
	<input type="submit" name="" value="发表">	
</form>